APP_NAME=isesame_music
APP_ENV=dev
APP_DEBUG=fasle

DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=hyperf
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=

REDIS_HOST=redis
REDIS_AUTH=null
REDIS_PORT=6379
REDIS_DB=0


#房管密码
ADMIN_PASS='123456789'

#发言最低间隔时间
MIN_CHATWAIT=3
#每人最多点多少歌
MAX_USERMUSIC=5
#聊天内容最长字符
MAX_CHATLENGTH=200